<br/>
<b>
	SECCION GALERIA DE IMAGENES:
</b>
<br/>
<hr style="width: 1025px;">
<dl>
	<dt>
		<label> <%= column.label %></label>
	</dt>
	<dd>
		<%= form_column(active_scaffold_config.columns[:gallery_title]) %>
		<span class='description'><%= column.description %></span>
	</dd>
</dl>