body {
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	color: #666666;
}

 A:link {
 	text-decoration: none;
	color: black;
}

 A:visited {
 	text-decoration: none;
	color: black;
}

 A:active {
 	text-decoration: none;
	color: black;
}

 A:hover {
 	text-decoration: underline; 
	color: black;
}

div.listing {
	clear:both;
	width:80%;
	border-bottom:2px solid #000000;
	padding:5px;
	margin-bottom:3px;
}

.listing h1 {
	font-size:13px;
	font-weight:bold;
	color:#006699;
}

.listing h2 {
	font-size:12px;
	font-weight:bold;
	margin:0px;
	padding:0px;
}

#main {
	/*height:1120px;*/
	width:985px;
}

#body{
	/*height:1070px;*/
	width:985px;
}


#footer-div{
	height:20px;
	width:984px;
	margin-top: 10px;
	vertical-align: middle;
	position: relative;
	top: 20px;
}

#footer-div-pages{
	height:40px;
	width:390px;
	font-family:Arial;
	font-size: 9pt;
	font-weight:bold;
	float:left;
}

#footer-div-copyright{
	height:20px;
	width:444px;
	float:left;
	font-family:Arial;
	font-size: 9pt;
	margin-top:0px;
	margin-left:10px;
}

#footer-div-logo{
	height:20px;
	width:130px;
	float:left;
	background-image:url(/images/site/business_profile.png);
}

#footer_link {
	text-decoration: none;
}

#column-left{
	/*height:1070px;*/
	width:612px;
	float:left;
}

#column-right{
	/*height:1070px;*/
	width:369px;
	float:left;
}

#footer_page{
	height:1120px;
	width:800px;
	border:solid 1px black;
}

/*Sections CSS*/

/*Section 1*/

#section-1{
	width:600px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

#section-1-header{
	height:10px;
	width:600px;
	float:left;
	background-image:url(/images/site/panel-header.png);
}

#section-1-body{
	width:600px;
	float:left;
	background-image:url(/images/site/panel-body.png);
}

#section-1-body p {
		margin-top: 4px;
		margin-bottom: 4px;
	}

#section-1-footer{
	height:8px;
	width:600px;
	float:left;
	background-image:url(/images/site/panel-footer.png);
}

#section-1-top{
	height:74px;
	width:577px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	float:left;
}

#section-1-logo{
	height:75px;
	width:75px;
	float:left;
}

#section-1-tools{
	height:25px;
	width:390px;
	margin-left:110px;
	margin-top:15px;
	float:left;
	vertical-align: middle;
}

#section-1-tools-like{
	float: left;
}

#section-1-tools-addthis{
	margin-top: 3px;
	margin-left: 5px;
	float: left;
}

#section-1-tools-links{
	margin-top: 2px;
	float: left;
	vertical-align: middle;
}

.tool-link:link {
 	text-decoration: none;
	color: #858585;
	vertical-align: super;
}

.tool-link:visited {
 	text-decoration: none;
	color: #858585;
	vertical-align: super;	
}

.tool-link:active {
 	text-decoration: none;
	color: #858585;
	vertical-align: super;
}

.tool-link:hover {
 	text-decoration: underline; 
	color: black;
	vertical-align: super;
}

#section-1-title{
	height:25px;
	float:left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	font-size:15pt;
	font-family: Arial;
	font-weight:bold;
	color:#035c78;
}

#section-1-description{
	width:577px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	float:left;
	font-family: Arial;
}

#section-1-address{
	width:577px;
	margin-left: 5px;
	margin-right: 5px;
	float:left;
	padding-left: 10px;
	font-family: Arial;
}

#section-1-phones{
	width:577px;
	margin-left: 5px;
	margin-right: 5px;
	float:left;
	padding-left: 10px;
	font-family: Arial;
}

#section-1-website{
	height:15px;
	width:577px;
	float:left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	font-weight: bold;
}

.section-1-link:link {
 	text-decoration: underline;
	color: #5fc4f9;
	font-weight:bold;
}

.section-1-link:visited {
 	text-decoration: underline;
	color: #5fc4f9;
	font-weight:bold;
}

.section-1-link:active {
 	text-decoration: underline;
	color: #5fc4f9;
	font-weight:bold;
}

.section-1-link:hover {
 	text-decoration: none; 
	color: #5fc4f9;
	font-weight:bold;
}

/*Section 2*/
#section-2{
	height:312px;
	width:355px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

#section-2-image{
	border-style: solid;
	border-top-width: 2px; 
	border-right-width: 2px; 
	border-bottom-width: 2px; 
	border-left-width: 2px;
	border-color: #c9cacb;
}

#imagewrapper {
	float:right;
	position: relative;
	float: left;
	padding-bottom:-5px;
}

#imagewrapper span {
	position: absolute;
	z-index: 2;
	height: 5px;
	width: 5px;
}

.curve1 {
	background: transparent url(/images/site/topright.png) top right no-repeat;
	top: 0;
	right: 0;
}

.curve2 {
	background: transparent url(/images/site/topleft.png) top left no-repeat;
	top: 0;
	left: 0;
}

.curve3 {
	background: transparent url(/images/site/bottomright.png) bottom right no-repeat;
	bottom: 0px;
	right: 0;
}

.curve4 {
	background: transparent url(/images/site/bottomleft.png) bottom left no-repeat;
	bottom: 0px;
	left: 0;
}

/* ------------------------------------------------------------------------
 * ------------------------------------------------------------------------
 * ------------------------------------------------------------------------
 * ------------------------------------------------------------------------ */

.footerBody{
	background-color:#f3f3ef;
}

#header{
	background:url("../images/header.png") no-repeat scroll 0 0 transparent;
	height:80px;
	margin-left:180px;
	width:1000px;
}

.headerLeft{
	float:left;
	margin-left:22px;
	margin-top:10px;
	width:300px;
}

.headerRight{
	float:right;
	margin-top:2px;
	width:398px;
}

.content{
	margin-top:40px;	
	margin-left:188px;
	width:992px;
}

.bodyLeft{
	float:left;
	height:244px;
	width:291px;
}

#mainImage{
	height:312px;
	width:355px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}



.bodyRight{
	float:left;
	margin-left:20px;
	margin-top:-49px;
	width:649px;
}

#lightBlue{
	background:url("../images/lightblue.png") no-repeat scroll 0 0 transparent;
	height:100px;
	position:relative;
	top:49px;
	width:647px;
}

#title{
	left:15px;
	position:relative;
	top:9px;
	width:380px;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:black;
}

.lightBlueRight{
	float:right;
	margin-top:-13px;
	width:220px;
}

.lightBlueImg{
	border:medium none;
	float:left;
	margin-left:8px;
}

#littleHeader{
	background:url("../images/whiteheader.png") no-repeat scroll 0 0 transparent;
	height:15px;
}

#littleBody{
	background:url("../images/whitebody.png") repeat scroll 0 0 transparent;
	width:638px;
	margin:0;
}

#littleFooter{
	background:url("../images/whitefooter.png") no-repeat scroll 0 0 transparent;
	height:20px;
}

.littleBodyContent p{
	margin-bottom:-1px;
	margin-top:0;
	padding-bottom:2px;
}

.littleBodyContent{
	padding-left:15px;
	padding-right:15px;
}

#imgLightBlue{
	margin-right:3px;
}

#footer-div2{
	height:20px;
	width:363px;
	margin-top: 10px;
	vertical-align: middle;
	position: relative;
	top: 20px;
}


/* ------------------------------------------------------------------------
 * ------------------------------------------------------------------------
 * ------------------------------------------------------------------------
 * ------------------------------------------------------------------------ */






/*Section 2*/

/*Section 3*/

#section-3{
	width:600px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

#section-3-header{
	height:10px;
	width:600px;
	float:left;
	background-image:url(/images/site/panel-header.png);
}

#section-3-body{
	width:600px;
	float:left;
	background-image:url(/images/site/panel-body.png);
}

#fragment-1{
	width:564px;
	float:left;
	background-image:url(/images/site/panel-body.png);
}

#fragment-2{
	width:564px;
	float:left;
	background-image:url(/images/site/panel-body.png);
}

#fragment-3{
	width:564px;
	float:left;
	background-image:url(/images/site/panel-body.png);
}

#section-3-footer{
	height:8px;
	width:600px;
	float:left;
	background-image:url(/images/site/panel-footer.png);
}

/*Section 3*/

/*Section 4*/
#section-4{
	height:324px;
	width:356px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

#section-4-header{
	height:43px;
	width:356px;
	background-image:url(/images/site/s4-header.png);
}

#section-4-body{
	height:262px;
	width:356px;
	background-image:url(/images/site/s4-body.png);
}

#section-4-footer{
	height:10px;
	width:356px;
	background-image:url(/images/site/s4-footer.png);
}

#section-4-button-label{
	position: relative;
	bottom: 9px;
	right: -63px;
	font-family:Arial;
	font-size: 11pt;
	font-weight:900;
	color: white;
}

#section-4-header-label{
	position: relative;
	top: 10px;
	left: 23px;
	font-family:Arial;
	font-size: 12pt;
	font-weight:900;
	color: #095d75;
}

#link_to_send_mail{
	color: #FFFFFF;
	background-color: #FFFFFF;
}
/*Section 4*/

/*Section 5*/
#section-5{
	height:469px;
	width:352px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

#section-5-header{
	height:47px;
	width:356px;
	float:left;
	background-image:url(/images/map/Mapa-fondo-header.png);
}

#section-5-header-label {
	position: relative;
	top: 10px;
	left: 25px;
	font-family:Arial;
	font-size: 12pt;
	font-weight:900;
	color: #156b83;
}

#section-5-body{
	width:356px;
	height:415px;
	float:left;
	background-image:url(/images/map/Mapa-fondo-body.png);
}

#section-5-body-map{
	height:368px;
	width:330px;
	float:left;
	border:solid 1px black;
	margin-left:10px;
	margin-right:10px;
}

#section-5-print{
	float:left;
	position: relative;
	bottom: -8px;
}

#section-5-zoomin{
	float:left;
	position: relative;
	bottom: -10px;
}

#section-5-zoomout{
	float:left;
	position: relative;
	bottom: -9px;
}

#section-5-arrow-pad {
	float: left;
	width: 55px;
}

#section-5-up_arrow{
	position: relative;
	height: 12px;
	width: 16px;
	left: 20px;
	bottom: -6px;
}

#section-5-down_arrow{
	position: relative;
	height: 12px;
	width: 16px;
	left: 20px;
	bottom: -19px;
}

#section-5-right_arrow{
	position: relative;
	height: 16px;
	width: 12px;
	left: 37px;
	bottom: 24px;
}

#section-5-left_arrow{
	position: relative;
	height: 16px;
	width: 12px;
	left: 8px;
	bottom: 7px;
}

#section-5-footer{
	height:4px;
	width:356px;
	float:left;
	background-image:url(/images/map/Mapa-fondo-footer.png);
}

a.link_s5 {
	color: #70DBED;
	background-color: #70DBED;
}

/*Section 5*/

/*Section 6*/

#section-6{
	width:600px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

#section-6-header{
	height:10px;
	width:600px;
	float:left;
	background-image:url(/images/site/panel-header.png);
}

#section-6-body{
	width:600px;
	float:left;
	background-image:url(/images/site/panel-body.png);
}

#section-6-footer{
	height:8px;
	width:600px;
	float:left;
	background-image:url(/images/site/panel-footer.png);
}

#section-6-title{
	float:left;
	margin-top:10px;
	margin-left:20px;
	margin-bottom:10px;
	margin-right:20px;
	font-size:12pt;
	font-family: Arial;
	font-weight:bold;
	color:#035c78;
}

#section-6-main{
	height:325px;
	width:558px;
	float:left;
	margin-top:10px;
	margin-left:20px;
	margin-bottom:10px;
	margin-right:20px;
}

#section-6-toolbar{
	float:right;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
	margin-right:20px;
}

/*Section 6*/

.form-text-field, .form-area-field, .form-buttom-field{
	height:26px;
	width:320px;
	margin-left:10px;
	margin-right:10px;
	padding-top:10px;
}

.form-area-field{
	height:112px;
}

.form-buttom-field{
	height:24px;
	padding-top:1px;
	text-align: right;
}

.form-label{
	height:26px;
	width:64px;
	float:left;
	vertical-align: middle;
	text-align:left;
	font-family:Arial;
	font-size: 10pt;
	font-weight:bold;
}

.text-box-div, .text-area-div{
	height:26px;
	width:252px;
	float:left;
	
}

.text-area-div{
	height:80px;
}

.text-box, .text-area{
	background-color: #F3F3EF;
	border-style: solid;
	border-top-width: 2px; 
	border-right-width: 2px; 
	border-bottom-width: 2px; 
	border-left-width: 2px;
	border-color: #CCCCCC;
}

.text-area{
	border-style: solid;
	border-top-width: 2px; 
	border-right-width: 2px; 
	border-bottom-width: 2px; 
	border-left-width: 2px;
	border-color: #CCCCCC;
}