body {
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	color: #666666;
	font-size:x-small;
}

.tool-link{
 	text-decoration: underline; 
	color: black;
	vertical-align: super;
	position:relative;
	top:2px;
}

.littleBodyContent p{
	margin-bottom:-1px;
	margin-top:0;
	padding-bottom:2px;
}

.headerLeft{
	float:left;
	margin-left:22px;
	margin-top:20px;
	width:300px;
}

.lightBlueRight{
	float:right;
	margin-top:-13px;
	width:220px;
}

#footer-div-pages{
	float:right;
	font-family:Arial;
	font-size:9pt;
	font-weight:bold;
	height:18px;
	position:relative;
	right:-40px;
	width:360px;
}
